/*footer*/
body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content 
{
    flex: 1;
}

.footerContainer
{
    background-color: #2D4356;
    width: 100%;
    padding: 30px 30px 20px;
    margin-top: auto;
}

.footerNav
{
    margin: 30px 0;
    font-size: 13px;
}

.footerNav ul
{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a
{
    color: #FBF3D5;
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

.footerNav ul li a:hover
{
    opacity: 1;
    color: #EAB2A0
}

.footerButton
{
    padding: 10px;
    text-align: center;
}

.footerButton p
{
    color: white;
    font-size: 12px;
}

@media(max-width:768px)
{
    .footerNav ul
    {
        flex-direction: column;
    }

    .footerNav ul li
    {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

@media(max-width:480px)
{
    .footerNav
    {
        flex-direction: column;
    }

    .footerNav ul li
    {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}