<?xml version='1.0' encoding='UTF-8'?>
<menu>
  <item>
    <name>Cheese Burger</name>
    <calories>650</calories>
    <ingredients>
      <ingredient>BeefPatty</ingredient>
      <ingredient>Bun</ingredient>
      <ingredient>Cheese</ingredient>
      <ingredient>Milk</ingredient>
    </ingredients>
    <dietTags>
      <tag>containsDairy</tag>
    </dietTags>
    <spicyLevel>2</spicyLevel>
  </item>
  <item>
    <name>Chocolate Ice Cream</name>
    <calories>300</calories>
    <ingredients>
      <ingredient>Cocoa</ingredient>
      <ingredient>Milk</ingredient>
    </ingredients>
    <dietTags>
      <tag>containsDairy</tag>
    </dietTags>
    <spicyLevel>0</spicyLevel>
  </item>
  <item>
    <name>Curly Fries</name>
    <calories>330</calories>
    <ingredients>
      <ingredient>Oil</ingredient>
      <ingredient>Potato</ingredient>
    </ingredients>
    <dietTags>
      <tag>vegan</tag>
    </dietTags>
    <spicyLevel>1</spicyLevel>
  </item>
  <item>
    <name>Double Cheese Burger</name>
    <calories>800</calories>
    <ingredients>
      <ingredient>Bun</ingredient>
      <ingredient>Cheese</ingredient>
      <ingredient>BeefPatty</ingredient>
      <ingredient>Milk</ingredient>
    </ingredients>
    <dietTags>
      <tag>containsDairy</tag>
    </dietTags>
    <spicyLevel>3</spicyLevel>
  </item>
  <item>
    <name>French Fries</name>
    <calories>280</calories>
    <ingredients>
      <ingredient>Potato</ingredient>
      <ingredient>Salt</ingredient>
    </ingredients>
    <dietTags>
      <tag>glutenFree</tag>
      <tag>vegan</tag>
    </dietTags>
    <spicyLevel>1</spicyLevel>
  </item>
  <item>
    <name>Green Salad</name>
    <calories>120</calories>
    <ingredients>
      <ingredient>Cucumber</ingredient>
      <ingredient>Lettuce</ingredient>
      <ingredient>Tomato</ingredient>
    </ingredients>
    <dietTags>
      <tag>glutenFree</tag>
      <tag>vegan</tag>
    </dietTags>
    <spicyLevel>0</spicyLevel>
  </item>
  <item>
    <name>Hawaiian Pizza</name>
    <calories>700</calories>
    <ingredients>
      <ingredient>Cheese</ingredient>
      <ingredient>Dough</ingredient>
      <ingredient>Ham</ingredient>
      <ingredient>Milk</ingredient>
      <ingredient>Pineapple</ingredient>
    </ingredients>
    <dietTags>
      <tag>containsDairy</tag>
    </dietTags>
    <spicyLevel>2</spicyLevel>
  </item>
  <item>
    <name>Peperoni Pizza</name>
    <calories>750</calories>
    <ingredients>
      <ingredient>Cheese</ingredient>
      <ingredient>Dough</ingredient>
      <ingredient>Milk</ingredient>
      <ingredient>Pepperoni</ingredient>
    </ingredients>
    <dietTags>
      <tag>containsDairy</tag>
    </dietTags>
    <spicyLevel>3</spicyLevel>
  </item>
  <item>
    <name>Plain Burger</name>
    <calories>600</calories>
    <ingredients>
      <ingredient>BeefPatty</ingredient>
      <ingredient>Bun</ingredient>
    </ingredients>
    <dietTags/>
    <spicyLevel>1</spicyLevel>
  </item>
  <item>
    <name>Spicy Burger</name>
    <calories>620</calories>
    <ingredients>
      <ingredient>BeefPatty</ingredient>
      <ingredient>Bun</ingredient>
      <ingredient>Chili</ingredient>
    </ingredients>
    <dietTags/>
    <spicyLevel>5</spicyLevel>
  </item>
  <item>
    <name>Strawberry Ice Cream</name>
    <calories>290</calories>
    <ingredients>
      <ingredient>Milk</ingredient>
      <ingredient>Strawberry</ingredient>
    </ingredients>
    <dietTags>
      <tag>containsDairy</tag>
    </dietTags>
    <spicyLevel>0</spicyLevel>
  </item>
  <item>
    <name>Twinkler Fries</name>
    <calories>320</calories>
    <ingredients>
      <ingredient>Potato</ingredient>
      <ingredient>Seasoning</ingredient>
    </ingredients>
    <dietTags>
      <tag>vegan</tag>
    </dietTags>
    <spicyLevel>2</spicyLevel>
  </item>
  <item>
    <name>Vanilla Ice Cream</name>
    <calories>280</calories>
    <ingredients>
      <ingredient>Milk</ingredient>
      <ingredient>Vanilla</ingredient>
    </ingredients>
    <dietTags>
      <tag>containsDairy</tag>
    </dietTags>
    <spicyLevel>0</spicyLevel>
  </item>
  <item>
    <name>Vegan Burger</name>
    <calories>400</calories>
    <ingredients>
      <ingredient>Bun</ingredient>
      <ingredient>Lettuce</ingredient>
      <ingredient>VegPatty</ingredient>
    </ingredients>
    <dietTags>
      <tag>glutenFree</tag>
      <tag>vegan</tag>
    </dietTags>
    <spicyLevel>1</spicyLevel>
  </item>
  <item>
    <name>Vegan Pizza</name>
    <calories>500</calories>
    <ingredients>
      <ingredient>Dough</ingredient>
      <ingredient>Tomato</ingredient>
      <ingredient>VegCheese</ingredient>
    </ingredients>
    <dietTags>
      <tag>vegan</tag>
    </dietTags>
    <spicyLevel>2</spicyLevel>
  </item>
  <item>
    <name>Corn</name>
    <calories>90</calories>
    <ingredients>
      <ingredient>Corn</ingredient>
    </ingredients>
    <dietTags>
      <tag>glutenFree</tag>
      <tag>vegan</tag>
    </dietTags>
    <spicyLevel>0</spicyLevel>
  </item>
</menu>
